*{

    
}

.formPesquisa{
  float: left;
  width: 300px;
  height: 60px;
  border: 1px solid rgb(241,241,241);
  border-radius: 8px;
  box-sizing: border-box;
}

.formPesquisa input[type='text']{
  float: left;
  width: 90%;
  height: 100%;
  border: none;
  background: transparent;
  box-sizing: border-box;
  padding-left: 10px;
  outline: none;
}

.formPesquisa button{
  float: left;
  width: 10%;
  height: 100%;
  border: none;
  box-sizing: border-box;
  padding-left: 15px;
  background: transparent;
}