/* Configurações Globais */

@font-face{
    font-family: 'play';
    src: url(../fontes/Play-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'play';
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    box-sizing: border-box;    
}

.container{
    background-color: rgb(241, 241, 241);
    max-width: 1300px;
    max-height: 840px;
    width: 100%;
    height: 100vmax;
    
}

/* Configurações do Cabeçalho*/
header{
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 1px 1px 10px;
    width: 20%;
    height: 840px;
    float: left;
    transition: 2s;
    
}

figure{
    text-align: center;
   
}

img{
    box-sizing: border-box;
    padding-top: 40px;
    transition: 1s;
}

nav{
    box-sizing: border-box;
    padding-top: 70px;
}

.btnMenu, #check{
    display: none;
}

ul li{
    box-sizing: border-box;
    background-color: rgb(239,239,239);
    height: 50px;
    margin-top: 5px;
    line-height: 50px;
    color: rgb(62, 79, 89);
    cursor: pointer;
    
}

i{
    box-sizing: border-box;
    padding-left: 20%;
}

a{
    padding-left: 10px;
    color: rgb(62, 79, 89);
}

.menu2{
    margin-top: 40px;
}

.menu6{
    margin-top: 120px;
    margin-bottom: 40px;;
}

/*Comando de efeitos*/

img:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 1s;
}

nav ul li:hover{
    background-color: rgb(30,136,229);
    color: #fff;
    cursor: pointer;
    transition: 1s;
}

a:hover{
    color: #fff;
}


/* Comando responsivo Cabeçalho*/

@media (max-width: 1200px){
    header{
        width: 100%;
        height: 120px;
        transition: 2s;
    }
    
    nav{
        padding-top: 30px;
        font-size: .9em;
        
    }
    
    figure{
        padding-left: 30px;

    }
    
    img{
        padding-top: 10px;
        float: left;
    }

    nav ul li{
        box-sizing: border-box;
        display: inline-block;
        float: right;
        margin-right: 20px;
        transition: 2s;
        text-align: center;
        height: 3px;
        
    }
    
    i{
        box-sizing: border-box;
        padding-left: 10px;
    }

    a{
        padding-left: 5px;
        padding-right: 10px;
    }
    
    .menu2{
        margin-top: 5px;
    }

    .menu6{
        margin-top: 5px;
    }
    
    /*Comandos de efeitos*/
    
    nav ul li:hover{
        height: 50px;
        background-color: rgba(30, 136, 229);
        border-radius: 4px;
        color: #fff;
        transform: scale(1.1);
    }

    a:hover{
        color: #fff;
    }
    
    a.active{
        background: blue;
    }
    
}

@media (max-width: 1010px){
    nav ul li{
        font-size: .8em;
        padding-left: 3px;
        padding-right: 3px;
    }

    a, i{
        padding: 2px;
        
    }
}

@media (max-width: 858px){
    .btnMenu{
        display: block;
        font-size: 25px;
        float: right;
        margin-right: 40px;
        margin-top: 10px;
        cursor: pointer;
        transition: 1s;
  
    }
    
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgb(239,239,239);
        top: 120px;
        left: -100%;
        transition: all 1s;
        font-size: 2em;
        
    }
    
    nav ul li{
        display: block;
        width: 100%;
        margin-top: 15px;
        padding-left: 30px;
        height: 50px;
        line-height: 50px;
        margin-right: 0;
        
    }
    
    /*Comando de efeitos*/
    nav ul li:hover{
        background-color: rgb(30,136,229);
        color: #fff;
        cursor: pointer;
        transition: 1s;
        border-radius: 0;
    }

    a:hover{
        color: #fff;
    }
    
    /*Comando que verifica se o check foi selecionado*/
    #check:checked ~ ul{
        left: 0;
    }
   
}

/*Configurações do conteúdo*/
.conteudo{
    
    box-sizing: border-box;
    float: left;
    width: 80%;
    
}

h1{
    font-size: 2em;
    padding-top: 50px;
    padding-left: 50px;
    margin-bottom: 40px;
}

/* Configuração dos botões */

.botoes{
    box-sizing: border-box;
    margin-left: 50px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 100px;
}

button i{
    padding: 0;
}


.btn1, .btn2{
    width: 20%;
    height: 60px;
    color: rgb(143,161,170);
    box-sizing: border-box;
    margin-left: 0px;
    list-style-type: none;
    cursor: pointer;
    float: left;
}

.btn1{
    margin-left: 1%;
}

.btn2{
    margin-left: 2%;
    margin-right: 1%;
    margin-bottom: 40px;
    
}

/* Configurando o formulário de Pesquisa */

.formPesquisa{
    background-color: #fff;
    float: left;
    width: 32%;
    height: 60px;
    margin-left: 24%;
    border: 1px solid rgb(143,161,170);
    border-radius: 8px;
    box-sizing: border-box;
}

.formPesquisa input[type='text']{
    float: left;
    width: 85%;
    height: 100%;
    border: none;
    background: transparent;
    box-sizing: border-box;
    padding-left: 10px;
    outline: none;
}

.formPesquisa button{
    float: left;
    width: 15%;
    height: 100%;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    background: transparent;
}

/* Configuração das Tabelas */

.lista{
    clear: both;
    width: 90%;
    margin-left: 0;
    
    box-sizing: border-box;
    padding-bottom: 90px;
    color: rgb(143,161,170);
    border: 1px solid;
    border-radius: 5px;
    font-size: .9em;
    margin: 0 auto;
}

.tb1, .tb2, .tb3, .tb4{
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
}

.tb2, .tb3, .tb4{
    height: 120px;
}

.c1{
    padding-left: 5px;
    width: 15%;
    
}

.c2{
   width: 15%;

}

.c3{
   width: 35%;
}

.c4{
    width: 15%;
    text-align: center;
}

p{
    margin-bottom: 10px;
}

.c5{
    width: 20%;
    text-align: center;
}

/*Comandos de efeito Conteúdo*/
button:hover{
    background-color: rgb(30, 136, 229);
    color: #fff;
    transition: .7s;
    border-radius: 6px;
}

/*Comandos Responsivo Conteúdo*/

@media (max-width: 1200px){
    .conteudo{
        width: 100%;
        transition: 1s;
        background: rgb(241, 241, 241);
    }

    .lista{
        padding-bottom: 0px;
    }

}

@media (max-width: 858px){

    .btn1, .formPesquisa, .btn2{
        width: 100%;
        margin-top: 10px;
        transition: 1s;
    }

    .formPesquisa, .btn2{
        margin-left: 1%;
    }

    .tb1, .tb2, .tb3, .tb4{
        font-size: .6em;
    }

}


/*Comandos do Rodapé*/
footer{
    width: 100%;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
    color: rgb(143,161,170);
    
}

